<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title *ngIf="anime !== undefined">{{ anime.title }}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="anime !== undefined">
    <div class="header">
      <div class="center-img">
        <ion-img
          class="bg-img"
          [src]="anime.images.webp.large_image_url"
        ></ion-img>
      </div>
      <div class="header-info">
        <div class="prev-container">
          <ion-img
            class="prev-img"
            [src]="anime.images.webp.large_image_url"
          ></ion-img>
        </div>
        <div class="prev-info">
          <div>
            <h3>{{anime.title}}</h3>
            <h5 *ngIf="anime.title_japanese">{{anime.title_japanese}}</h5>
          </div>
        </div>
      </div>
    </div>

    <div>
      <ion-card>
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <!-- <ion-col>Score: {{anime.score}} </ion-col> -->
              <ion-col>
                <div class="stats-info">
                  <h3>Score</h3>
                  <h4>{{anime.score}}</h4>
                </div>
              </ion-col>
              <ion-col>
                <div class="stats-info">
                  <h3>Rank</h3>
                  <h4>{{anime.rank}}</h4>
                </div>
              </ion-col>
              <ion-col>
                <div class="stats-info">
                  <h3>Popularity</h3>
                  <h4>{{anime.popularity}}</h4>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-row>
          <ion-col>Season: {{anime.season}}</ion-col>
          <ion-col>Status: {{anime.status}}</ion-col>
          <ion-col>Episodes: {{anime.episodes}}</ion-col>
        </ion-row>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <div>{{anime.synopsis}}</div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
