<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="anime !== undefined">{{ anime.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="anime !== undefined">
    <div class="header">
      <div class="center-img">
        <ion-img class="bg-img" [src]="anime.images.webp.large_image_url"></ion-img>
      </div>
      <div class="header-info">
        <div class="prev-container">
          <ion-img class="prev-img" [src]="anime.images.webp.large_image_url"></ion-img>
          <div class="status-container">
            <div class="status" [style.background-color]="anime.status === 'Finished Airing'? '#eb445a' : 
              anime.status === 'Currently Airing' ? '#2dd36f' : '#f4f5f8'"
              [style.color]="anime.status === 'Finished Airing'? '#ffffff' : '#000000'">
              {{anime.status}}
            </div>
          </div>
        </div>
        <div class="prev-info">
          <h3>{{anime.title}}</h3>
          <h5 *ngIf="anime.title_japanese">{{anime.title_japanese}}</h5>
          <h6 *ngIf="anime.episodes !== null">Episodes: {{anime.episodes}}</h6>
          <div class="genres-container">
            <div *ngFor="let genre of anime.genres" class="genre-item">
              <span>{{genre.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <ion-card>
        <ion-card-content>
          <ion-grid fixed>
            <ion-row>
              <ion-col>
                <div class="stats-info">
                  <h3>Score</h3>
                  <h4>{{anime.score !== null ? anime.score : "NA"}}</h4>
                </div>
              </ion-col>
              <ion-col>
                <div class="stats-info">
                  <h3>Rank</h3>
                  <h4>{{anime.rank !== null ? anime.rank : "NA"}}</h4>
                </div>
              </ion-col>
              <ion-col>
                <div class="stats-info">
                  <h3>Popularity</h3>
                  <h4>
                    {{anime.popularity !== null ? anime.popularity : "NA"}}
                  </h4>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Description</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="synopsis" id="synopsis" (click)="expandSynopsis()">{{anime.synopsis}}</div>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="anime.trailer.youtube_id !== null">
        <ion-card-header>
          <ion-card-title>Trailer</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div style="text-align: center">
            <youtube-player [videoId]="anime.trailer.youtube_id" [width]="windowWidth * 0.80"
              [height]="windowWidth * 0.80 * 0.56"></youtube-player>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="stats !== undefined">
        <ion-card-header>
          <ion-card-title>Stats</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div echarts [options]="statsChartOption" [initOpts]="initOpts" style="height: 400px"></div>
          <br />
          <div *ngIf="stats !== undefined">
            <p>Watching: {{stats.watching}}</p>
            <p>Completed: {{stats.completed}}</p>
            <p>Dropped: {{stats.dropped}}</p>
            <p>On Hold: {{stats.on_hold}}</p>
            <p>Plan To Watch: {{stats.plan_to_watch}}</p>
            <p>Total: {{stats.total}}</p>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="stats !== undefined">
        <ion-card-header>
          <ion-card-title>Scores</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div echarts [options]="scoreChartOption" [initOpts]="initOpts" style="height: 200px;"></div>
          <br />
          <div>
            <p *ngIf="stats.total !== undefined">Total: {{stats.total}}</p>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Characters</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div>
            <ion-item *ngIf="langList.length > 1">
              <ion-label>Select Language</ion-label>
              <ion-select interface="popover" placeholder="Select Language" [compareWith]="langList"
                value="{{langList[langList.includes('Japanese') ? langList.indexOf('Japanese') : 0]}}" (ionChange)="onCharacterLangSelection($event)">
                <ion-select-option *ngFor="let l of langList" value="{{l}}">{{l}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div class="characters-container">
            <div class="characters-list">
              <div *ngFor="let ch of charactersFiltered" class="character-data">
                <div>
                  <div class="ch-img-container">
                    <img class="ch-img" [src]="ch.character.images.webp.image_url" [alt]="ch.character.name">
                  </div>
                  <div class="name">
                    <div class="name-container">
                      <p>{{ch.character.name}}</p>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="ch-img-container">
                    <img class="ch-img" *ngIf="getVoiceActor(ch).person !== undefined"
                      [src]="getVoiceActor(ch).person.images.jpg.image_url">
                  </div>
                  <div class="name">
                    <div class="name-container">
                      <p *ngIf="getVoiceActor(ch).person !== undefined">{{getVoiceActor(ch).person.name}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Themes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div>
            <h2>Openings</h2>
            <ul>
              <li *ngFor="let op of anime.theme.openings">{{op}}</li>
            </ul>
            <h2>Endings</h2>
            <ul>
              <li *ngFor="let ed of anime.theme.endings">{{ed}}</li>
            </ul>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <p *ngIf="anime.season !== null">
            Season: {{anime.season.charAt(0).toUpperCase() +
            anime.season.slice(1)}} {{anime.year}}
          </p>
          <p>Source: {{anime.source}}</p>
          <p>
            Studios:
            <span *ngFor="let studio of anime.studios">{{studio.name}} </span>
          </p>
          <p>Rating: {{anime.rating}}</p>
          <p>Aired: {{anime.aired.string}}</p>
          <p>
            Licensor:
            <span *ngFor="let lic of anime.licensors">{{lic.name}} </span>
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>