div.carousel {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

div.carousel-container {
  //   display: flex;
  //   flex-wrap: nowrap;
  display: grid;
  grid-auto-flow: column;
}

.carousel-item {
  width: 60vw;
  //   margin-right: 1rem;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
