<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Currently airing</h1>
  <app-anime-carousel *ngIf="airingAnime !== undefined" [animeList]="airingAnime.data" ></app-anime-carousel>
  <hr />

  <h1>Top Anime</h1>
  <app-anime-carousel *ngIf="animeList !== undefined" [animeList]="animeList"></app-anime-carousel>

  <h1>Recent Episodes</h1>
  <a href="https://api.jikan.moe/v4/watch/episodes">Pending...</a>
</ion-content>